.git
.github

node_modules
.next*
coverage
playwright-report
test-results

.env*
config.yml

backups
prisma/*.db
prisma/*.db-*
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal

*.log
*.tsbuildinfo
.DS_Store
